<div class="ui segment">
    <p class="ui header center aligned">{{title}}</h1>


    {{#recipes}}
    <div class="ui raised segment">
        <h3>{{name}} 
            <button class="ui icon button">
                <i class="angle double down icon"></i>
            </button>
        </h3>
    </div>
    {{/recipes}}
</div>